<section class="form">
  <%= form_for @user do |f| %>
    <%= f.label :username, "Username:  " %>
    <%= f.text_field :username %>

    <%= f.label :first_name, "First Name:  " %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name, "Last Name:  " %>
    <%= f.text_field :last_name %>

    <%= f.submit "Create" %>
  <% end %>
</section>
