<section class="form">
  <%= form_for @book do |f| %>
    <%= f.label :title, "Book Title:  " %>
    <%= f.text_field :title %>

    <%= f.label :author, "Book's Author:  " %>
    <%= f.text_field :author %>

    <%= f.label :description, "Book Description:  " %>
    <%= f.text_field :description %>

    <%= f.submit action_name %>
  <% end %>
</section>
