<!DOCTYPE html>
<html>
  <head>
    <title>FlourishAndBlotts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "New User", new_user_path %></li>
        <li><%= link_to "Add a Book", new_book_path %></li>
        <% if session[:user_id]%>
          <li> <%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li> <%= link_to "Login", login_path %> </li>
        <%end%>
      </ul>
    </nav>
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
